<% @page_title = "Tags Publishing/Unpublishing" %>

<%= form_tag('/tag/edit', :method => :post) do -%>
  <%= submit_tag 'Save Changes' %>
  <table id="myTags">
    <thead>
      <tr>
        <th>Tag</th>
        <th>User Count</th>
        <th>Pub'd?</th>
      </tr>
    </thead>
    <%= render(:partial => "tag_row", :collection => @tags) %>
  </table>
  <%= submit_tag 'Save Changes' %>
<% end %>