<% @page_title = "Tags List" %>

<table class="myTags">
  <thead>
    <tr>
      <th>Tag</th>
      <th>User Count</th>
    </tr>
  </thead>
  <%= render(:partial => "tag_short_row", :collection => @tags) %>
</table>