<% foller_row = foller_row.twitter_user %>
<tr>
  <td><%= foller_row.follows_me_nbr %></td>
  <td><%= link_to foller_row.name, "http://twitter.com/#{foller_row.name}" %></td>
  <td><%= yes_no(foller_row.i_follow) %></td>
</tr>
