<tr>     
  <td><%= idropped_row.name %></td>
  <td align="right"><%= number_with_delimiter(idropped_row.nbr_followers) %></td>
  <td><%= idropped_row.i_follow_nbr %></td>
  <td><%= yes_no(idropped_row.follows_me) %></td>
</tr>