<tr>
  <td><%= ifollow_row.i_follow_nbr %></td>
  <td><%= link_to ifollow_row.name, "http://twitter.com/#{ifollow_row.name}" %></td>
  <td align="right"><%= number_with_delimiter(ifollow_row.nbr_followers) %></td>
</tr>