<tr>     
  <td><%= link_to quitter_row.name, "http://twitter.com/#{quitter_row.name}" %></td>   
  <td><%= quitter_row.fmr_follows_me_nbr %></td>
  <td><%= yes_no(quitter_row.i_follow) %></td>
</tr>
