<tr>     
  <td><%= link_to unfollower_row.name, "http://twitter.com/#{unfollower_row.name}" %></td>   
  <td><%= unfollower_row.fmr_follower_number %></td>
  <td><%= yes_no(unfollower_row.fiu_follows_tu) %></td>
</tr>
