<tr>     
  <td><%= link_to unfollower_row.name, "http://twitter.com/#{unfollower_row.name}" %></td>   
  <td><%= unfollower_row.fmr_follows_me_nbr %></td>
  <td><%= yes_no(unfollower_row.i_follow) %></td>
</tr>
