<% @page_title = "Followers Update In Progress" %>

<h1>Follower Updating in Progress</h1>

<div id="job_key" data-key="<%= @follers_job_id %>" data-checkStatusPath="/welcome/check_foller_update_status?follers_job_id=" data-jobDonePath="/welcome/list_follers" ></div>

<div id="foller_update_status" class="progress"></div>
