<% 
@page_title = "I Unfollowed"
%>
<h1>People I Unfollowed or Who Changed Usernames</h1>
Updated:  <%= iflu %><br/><br/> 
<table>
  <thead>
    <tr>   
      <th>Name</th>
      <th>Nbr Followers</th>
      <th>Old I-Follow Nbr</th>
      <th>Follows Me?</th>      
    </tr>
  </thead>
  
  <%= render(:partial => "idropped_row", :collection => @deleted_pifs) %> 
</table>

