<% @page_title = "Unfollowed Me" %>

<h1>People Who Have Recently Unfollowed Me</h1>
Updated: <%= flu %><br/><br/> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Former Follower Number</th>
      <th>I follow?</th>
    </tr>
  </thead>
  
  <%= render(:partial => "unfollower_row", :collection => @deleted_followers) %> 
</table>
