<% 
@page_title = "People I follow"
%>

<h1>People I follow - <%= @count %></h1>
Updated:  <%= iflu %><br/><br/>
<table>
  <thead>
    <tr>
      <th>i_follow_nbr</th>
      <th>name</th>
      <th>nbr_followers</th>      
    </tr>
  </thead>
  
  <%= render(:partial => "ifollow_row", :collection => @users) %> 
</table>
