<% 
@page_title = "My Followers"
%>

<h1>My Followers - <%= @count %></h1>
Updated:  <%= flu %><br/><br/>
<table>
  <thead>
    <tr>
      <th>follows_me_nbr</th>
      <th>name<th>     
    </tr>
  </thead>
  
  <%= render(:partial => "foller_row", :collection => @follers) %> 
</table>