Welcome to my Update PIF page. 

<div id='update_status'>starting
</div>

<%= link_to_remote 'Update a Chunk' :url => { :controller => 'welcome', :action => 'update_chunk' }, 
 :update => 'update_status'
  
 %>